.serviceContainer {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-x: hidden;
  position: relative;
}
.serviceCarouselButton {
  position: absolute;
  top: 55%;
  z-index: 999;
  background-color: #2c53b6;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
}
.serviceSliderDiv {
  width: 100vw;
  min-width: 100vw;
  transition: all 1s;
}
.serviceSlider{
    width: 4700px;
    display: flex;
    gap: 50px
}
.serviceDataImageDiv{
    transition: all 0.8s;
    width: 500px;
    height: 520px;
    overflow: hidden;
    position: relative;
}
.serviceDataImageDiv img:hover{
    transition: all 0.8s;
    transform: scale(1.1);
}
.ServiceCaptionDiv{
    padding: 15px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 99999;
}
.serviceReadmore{
    position: absolute;
    right: 40px;
    top: 350px;
    padding: 20px;
    border: none;
    border-radius: none;
    background-color: black;
}
.serviceDataImageDiv:hover .serviceReadmore{
    animation: button 1s ease-in infinite alternate;
}

@keyframes button {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}