.slideContainer{
    animation: slide 200s linear  infinite alternate;
}
@keyframes slide {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-4730px);
    }
}
.Aactive{
    animation: zoom 1s ease forwards
}
@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.15);
    }
}