.mapouter {
  display: flex;
  position: relative;
  text-align:left;
  justify-content: center;
  margin-right: 50px;
  height: 400px;
  width: 900px;
  margin: 40px;
  border-width: 4px;
}
/* .gmap_canvas {
  display: flex;
  overflow: hidden;
  background: none ;
  height: 300px;
  width:  1000px;
  margin: 10px; */
/* } */
.top_container{
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  
}
label{
  display: block;
  margin: 6px;
  font-size: large;
  color: white;
  
}
h2{
  color: white;
}
.bottom_container{
  margin: 36px;
    display: flex;
}
input{
  display: block;
  width: 400px;
  height: 38px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 6px;
  margin-bottom: 12px;
  padding: 6px;
}
textarea{
  width: 400px;
  display: block;
  border: 1px solid lightgray;
  border-radius: 4px;
}

select{
  display: inline-block;
  width: 400px;
  height: 38px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 6px;
  margin-bottom: 12px;
  padding: 6px;
}

.container{
  background-color: black;
  overflow: hidden;
}


.right_container{
  width: fit-content;
  align-items: center;
}

.left_container{
  
width: 480px;
}
.button_Submit{
margin-top: 30px;
height: 40px;
width: 60px;
font-family:initial;
border-radius: 7px;
}

h1{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
p{
  display: flex;
  color: white;
  align-items: center !important;
  justify-content: center;
}