.header_container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 99999;
}
.header_container a{
    padding: 5px 10px;
}
.logo_div{
    width: max-content;
    border-radius: 10px;
    /* overflow: hidden; */
}
.nav_container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu{
    opacity: 0;
    width: 100vw;
    z-index: -2000;
    height: 50vh;
    transform: rotateX(270deg);
    background-color: black;
    transition: 0.5s;
    /* transition-delay: 0.3s; */
    transform-origin: top;
    display: grid;
    grid-template-columns: repeat(3,400px);
    padding: 60px;
    box-sizing: border-box;
    position:absolute;
    top: 60px;
    left: 0;
}
.active{
    opacity: 1;
    transform: rotateX(0);
}
.navactive{
    border:5px solid blue
}
/* Linking you to success. */
/* infoway solutions provides best teams for you and your business to grow  */
/* Customer influences are critical. */
/* your reviews are precious.. pleate Rate */
/* Build your business and our business. */
/* our business grows when you grow */
/* Your ideas, your journey, we just Create path */
/* we provide solution to all your great revolutionary ideas */